<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>salaryCalculator</title>
        <style>
            table,
            th,
            td {
                border: 1px solid white;
                border-collapse: collapse;
            }
            th,
            td {
                /* background-color: #96d4d4; */
            }
            #app {
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .output {
                text-align: right;
            }
            hr {
                border: dashed 1px grey;
                width: 100%;
            }
        </style>
    </head>

    <body>
        <div id="app">
            <div id="inputDiv">
                <tr>
                    <td><label for="holidayCount"></label></td>
                    <td>
                        <select name="items1" v-model="input.holidayCount">
                            <option value="3">5월</option>
                            <option value="1">6월</option>
                            <option value="0">7월</option>
                            <option value="1">8월</option>
                            <option value="3">9월</option>
                            <option value="2">10월</option>
                            <option value="0">11월</option>
                        </select>
                    </td>
                </tr>
                <table>
                    <tr>
                        <td><label for="day">주</label></td>
                        <td><input type="tel" name="day" id="day" v-model="input.day" /></td>
                    </tr>
                    <tr>
                        <td><label for="night">야</label></td>
                        <td>
                            <input type="tel" name="night" id="night" v-model="input.night" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="night1">야1</label></td>
                        <td>
                            <input type="tel" name="night1" id="night1" v-model="input.night1" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="holidayTime">휴일근무시간</label></td>
                        <td>
                            <input
                                type="number"
                                name="holidayTime"
                                id="holidayTime"
                                v-model="input.holidayTime"
                            />
                        </td>
                    </tr>
                    <!-- <tr>
                        <td><label for="overtime">시간외근로수당</label></td>
                        <td>
                            <input
                                type="number"
                                name="overtime"
                                id="overtime"
                                v-model="input.overtime"
                            />
                        </td>
                    </tr> -->
                </table>
            </div>

            <hr />

            <div>
                <table class="output">
                    <tr>
                        <td>기본급 :&nbsp</td>
                        <td>{{ output.defaultSal.toLocaleString('ko-KR') }}</td>
                    </tr>
                    <tr>
                        <td>복지포인트 :&nbsp</td>
                        <td>{{ output.point.toLocaleString('ko-KR') }}</td>
                    </tr>
                    <tr>
                        <td>시간외근로수당 :&nbsp</td>
                        <td>{{ output.overtime.toLocaleString('ko-KR')}}</td>
                    </tr>
                    <tr>
                        <td>야간수당 :&nbsp</td>
                        <td>{{ output.night.toLocaleString('ko-KR')}}</td>
                    </tr>
                    <tr>
                        <td>휴일수당 :&nbsp</td>
                        <td>{{ output.holiday.toLocaleString('ko-KR')}}</td>
                    </tr>
                    <tr>
                        <td>총액 :&nbsp</td>
                        <td>{{ output.total.toLocaleString('ko-KR') }}</td>
                    </tr>
                </table>
                <!-- <p>{{ DEFAULT_SAL.toLocaleString('ko-KR') }}</p>
                <p>{{ POINT.toLocaleString('ko-KR') }}</p> -->
            </div>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            const { createApp, ref, watch } = Vue;

            const app = createApp({
                setup() {
                    const DEFAULT_SAL = 2342890;
                    const POINT = 25000;
                    const OVERTIME_PER = 16815;
                    const NIGHT_PER = 5605;
                    const HOLIDAY_PER = 11210;
                    const DAY = 8;
                    const NIGHT = 11;
                    const NIGHT1 = 13;
                    const input = ref({
                        day: 0,
                        night: 0,
                        night1: 0,
                        holidayTime: 0,
                        holidayCount: 0,
                        overtime: 0,
                    });

                    const output = ref({
                        defaultSal: DEFAULT_SAL,
                        point: POINT,
                        overtime: 0,
                        night: 0,
                        holiday: 0,
                        total: DEFAULT_SAL + POINT,
                    });
                    watch(input.value, () => {
                        output.value.overtime =
                            OVERTIME_PER *
                            (input.value.day * DAY +
                                input.value.night * NIGHT +
                                input.value.night1 * NIGHT1 -
                                (174 - input.value.holidayCount * DAY));
                        if (output.value.overtime < 0) {
                            output.value.overtime = 0;
                        }

                        output.value.night =
                            NIGHT_PER * DAY * (input.value.night + input.value.night1);

                        if (output.value.night < 0) {
                            output.value.night = 0;
                        }

                        output.value.holiday = HOLIDAY_PER * input.value.holidayTime;

                        output.value.total =
                            DEFAULT_SAL +
                            POINT +
                            output.value.overtime +
                            output.value.night +
                            output.value.holiday;
                    });
                    // watch(input.value, () => {
                    //     output.value.total =
                    //         DEFAULT_SAL +
                    //         POINT +
                    //         output.value.overtime +
                    //         output.value.night +
                    //         output.value.holiday;
                    // });
                    // watch(input.value, () => {
                    //     output.value.total =
                    //         DEFAULT_SAL +
                    //         POINT +
                    //         output.value.overtime +
                    //         output.value.night +
                    //         output.value.holiday;
                    // });
                    // watch(input.value, () => {
                    //     output.value.total =
                    //         DEFAULT_SAL +
                    //         POINT +
                    //         output.value.overtime +
                    //         output.value.night +
                    //         output.value.holiday;
                    // });
                    // watch(input.value, () => {
                    //     output.value.total =
                    //         DEFAULT_SAL +
                    //         POINT +
                    //         output.value.overtime +
                    //         output.value.night +
                    //         output.value.holiday;
                    // });
                    // watch(input.value, () => {
                    //     output.value.total =
                    //         DEFAULT_SAL +
                    //         POINT +
                    //         output.value.overtime +
                    //         output.value.night +
                    //         output.value.holiday;
                    // });

                    // watch(input.value, () => {
                    //     output.value.total =
                    //         DEFAULT_SAL +
                    //         POINT +
                    //         output.value.overtime +
                    //         output.value.night +
                    //         output.value.holiday;
                    // });

                    return { input, output };
                },
            });

            app.mount("#app");
        </script>
    </body>
</html>
